body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

/* Sidebar logo styles */
.sidebar-logo {
    width: 100%; /* Adjust the size of the logo */
    height: 30%;
    margin: 20px auto; /* Center the image within the sidebar */
    display: block; /* Ensure it’s treated as a block element */
    margin-top: -1%;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 255px;
    background-color: #32620e;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Sidebar items styling */
.sidebar ul {
    margin-top: -10%;
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

/* Adjust the margin and padding to move items up */
.sidebar ul li {
    margin: 5px 0; /* Reduced margin to move items up */
    padding-top: 10px; /* Reduced padding to bring items closer together */
    padding-bottom: 10px; /* Reduced padding for more compact spacing */
    position: relative;
}

/* Sidebar links */
.sidebar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    padding-top: 10px; /* Adjusted padding */
    padding-bottom: 10px; /* Adjusted padding */
    padding-left: 10px;
}

.sidebar ul li a:hover {
    background-color: #32620e; /* Slight change to hover color */
    text-decoration: underline;
    text-decoration-color: white;
    color: inherit;
}

/* Styling for content area */
.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Active item styles */
#active {
    background-color: #32620e; /* Active item color */
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: white;
    border-left: 2px solid white;
    padding-right: 10px;
}