body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34 ;
    margin-top: 3%;
}

.login-container {
    width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.role-selection {
    margin-bottom: 20px;
}

.role-selection label {
    font-size: 18px;
    margin-left: 40%;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.login-logo {
    width: 350px; /* Increased size */
    height: 350px; /* Increased size */
    padding-top: 20px;
    object-fit: contain;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    border-radius: 10%; /* Adjust this value for the desired rounding */
    
}

.role-selection select {
    width: 60%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid green;
    font-size: 16px;
    margin-left: 20%;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.login-form input {     
    width: 95%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid green;
    font-size: 16px;
}

.login-button {
    width: 30%;
    padding: 8px;
    border-radius: 8px;
    background-color: green;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-left: 70%;
}

.login-button:hover {
    background-color: lightgreen;
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }
}
