
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.sidebar-container{
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color:  rgb(110, 234, 88);

}
.sidebar {
    width: 100%;
    height: 100%;
    background-color: rgb(110, 234, 88);
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    padding-top: 30px;
}

.sidebar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: white;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
